@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --primary-color: #8C583A;
  --cta-color: black;
  --highlight-color: #F2AE72;
  --app-color: #2d42be;
  --dark-color: #0D0D0D;
  --gray-color: #F2E8E4;
  --gray_color1: #ababab;
  --gray_color2: #808080;

  --heading-font: "Quicksand", sans-serif;
  --heading-font2: "Abel", sans-serif;
  --body-font: "Abel", sans-serif;
  --body-font2: "Ubuntu", sans-serif;
  --body-font3: "Dosis", sans-serif;

  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 74px;
  --space-3xl: 188px;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  color: #222;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

section {
  background-color: #0D0D0D;
  padding: var(--space-2xl) 0;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--gray-color);
  margin: var(--space-md) 0;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 400;
  text-align: center;
  color: var(--highlight-color);
  margin: var(--space-md) 0;
}

h3 {
  font-family: var(--heading-font2);
  font-size: 2rem;
  color: #ababab;
  text-align: center;
  margin-bottom: 36px;
}

p {
  font-family: var(--heading-font2);
  font-size: 1.5rem;
  color: var(--gray-color);
  text-align: center;
}

strong {
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  padding: 0 var(--space-lg);
  margin: 0 auto;
}

.copy {}

.section-name {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 32px;
  text-align: center;
}

a {
  text-decoration: none;
}

/* -- TOP HEADER ------------------------------------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-md);
}

.logo {
  height: 44px;
}

.top-header .logo_container {
  display: flex;
  width: 88px;
  height: 44px;
  /* border: 1px solid yellow; */
}

.youapp {
  display: flex;
  font-family: var(--body-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.top-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.top-header .container {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.top-header--white-background {
  background-color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.top-header--white-background path {
  fill: var(--primary-color);
  transition: fill 300ms ease-in-out;
}

/* -- HERO AREA -------------------------------------------------------------------- */

.hero-area {
  background-image: url("./images/hero2.jpg");
  color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 480pt;
  position: relative;
}

.hero-area .container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-heading {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.hero-subheading {
  font-family: var(--heading-font2);
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(220, 220, 220);
}

/* ----------------------------------- CTA ------------------------------------ */

.cta_button {
  /* display: inline; */
  background-color: var(--cta-color);
  color: var(--gray-color);
  width: 88px;
  /* height: 44px; */
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  /* vertical-align: middle; */
  border-radius: 29px;
  border: none;

  padding: 5px 0;
}

/* -- ABOUT --------------------------------------------------------------------- */

.about-us {
  background: rgb(0, 0, 0);
  background: #0D0D0D;
}

.icons_container {
  width: 100%;
  position: relative;
  padding: var(--space-lg) 0;
}

.icons_grid {
  display: grid;
  grid-template-columns: 128px;
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}

.vinyl img {
  width: 128px;
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -- FEATURING -------------------------------------------------------------------- */

.featured_artist_title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  opacity: 40%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.featuring .stack {
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}

.featuring .stack>* {
  grid-area: 1/1/1/1;
}

.featured_artist_background {
  background-color: black;
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 8px;
}

.featuring .featured_artist_background .left_column {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)),
    url("./images/wallpapers/isitjosh2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.featuring .featured_artist_background .right_column {
  background-color: black;
}

.featuring .featured_artist_background .right_column .album_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.featured_artist_content {
  padding: var(--space-2xl) var(--space-2xl);
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.album {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.album1 {
  background-image: url("images/wallpapers/albums/11DD7FF8-F220-43CE-813C-A62559FCC953 Large.jpeg");
}

.album2 {
  background-image: url("images/wallpapers/albums/10B0AEAD-E9A6-464F-9B69-29F1A155692C Large.jpeg");
}

.album3 {
  background-image: url("images/wallpapers/albums/46255AD9-10B9-4F5F-ADA0-1D37DD9F7240 Large.jpeg");
}

.album4 {
  background-image: url("images/wallpapers/albums/82DC6343-CA4F-415B-98E4-14C5C7137F44 Large.jpeg");
}

.album5 {
  background-image: url("images/wallpapers/albums/9B61C31F-71A1-4B33-B297-C00C9CE910D5 Large.jpeg");
}

.album6 {
  background-image: url("images/wallpapers/albums/F63D5ADE-4ED5-41D5-8533-66C5235096D4 Large.jpeg");
}

@media (min-width: 760px) {
  .featured_artist_background {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(1, 1fr);
  }

  .featuring .featured_artist_background .right_column .album_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .album {
    width: 180px;
    height: 180px;
  }
}

.spacer {
  height: 100%;
  max-height: max-content;
}

.featured_row {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured_app {
  width: 100%;
  margin: var(--space-lg) 0;
  padding: auto;
}

.featured_app img {
  width: 100%;
  object-fit: cover;
}

.featured_app_name {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray-color);
}

.featured_row .app_store_button {
  padding-top: var(--space-xl);
}

.featuring .copyright {
  font: 10pt/1.5 var(--heading-font);
  color: white;
  opacity: 50%;
  text-align: center;
  margin: var(--space-md) 0;
}

/* -- PRICING ---------------------------------------------------------------------- */

.pricing h1 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 36px;
  text-transform: uppercase;
}

.pricing h2 {
  font-family: var(--body-font);
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray_color1);
  text-align: center;
  margin-bottom: 10px;
}

.pricing p {
  font: 1.3rem/1.5 var(--body-font);
  color: var(--gray_color2);
  text-align: center;
  margin-bottom: 8px;
}

.pricing_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 20%);
  border-radius: 24px;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.pricing_grid_item {
  text-align: center;
  /* height: 180px; */
  /* overflow: hidden; */
  padding: var(--space-lg) 0;
  margin: var(--space-lg) 0;
}

.pricing_grid_item svg {
  height: 44px;
}

.pricing_grid_item svg path {
  fill: var(--app-color);
}

.pricing_grid_item_title {
  font-family: var(--body-font);
  color: var(--gray_color1);
  font-size: 1rem;
  margin-top: var(--space-sm);
}

.pricing .pricing_details {
  font: 1.1rem/1.5 var(--body-font);
  color: var(--gray_color2);
}

@media (min-width: 760px) {
  .pricing .card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TESTIMONIALS

.testimonials {
  background-color: rgba(0, 0, 0);
}

.feedback {
  margin-top: var(--space-2xl);
  display: grid;
  gap: var(--space-xl);
}

.feedback-card__dialog {
  background-color: white;
  padding: var(--space-xl) var(--space-lg);
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  font-family: var(--heading-font);
}

.feedback-card__dialog__title {
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.feedback-card__dialog__content {
  color: #4f4f4f;
  line-height: 180%;
}

.feedback-card__user {
  margin-top: var(--space-md);

  display: grid;
  grid-template-columns: 52px 1fr;
  gap: var(--space-md);
}

.feedback-card__user img {
  width: 100%;
}

.feedback-card__user__name {
  font-weight: 500;
}

.feedback-card__user__location {
  color: #bdbdbd;
  font-size: 0.75rem;
}

@media (min-width: 760px) {
  .feedback {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* -- COMING SOON ------------------------------------------------------------------ */

.coming_soon {
  background-image: linear-gradient(180deg,
      hsl(231deg 62% 46%) 0%,
      hsl(235deg 57% 40%) 0%,
      hsl(238deg 53% 34%) 0%,
      hsl(242deg 52% 28%) 0%,
      hsl(245deg 54% 21%) 0%,
      hsl(249deg 57% 14%) 0%,
      hsl(267deg 100% 7%) 1%,
      hsl(262deg 94% 7%) 1%,
      hsl(257deg 88% 6%) 2%,
      hsl(252deg 82% 6%) 4%,
      hsl(246deg 76% 6%) 6%,
      hsl(240deg 70% 5%) 9%,
      hsl(236deg 70% 4%) 13%,
      hsl(236deg 76% 4%) 18%,
      hsl(236deg 84% 3%) 24%,
      hsl(236deg 93% 3%) 33%,
      hsl(237deg 100% 3%) 45%,
      hsl(240deg 100% 3%) 63%,
      hsl(0deg 0% 0%) 100%);
}

.coming_soon_title {
  font-family: var(--heading-font);
  font-size: 1.6rem;
  font-weight: 100;
  color: white;
  opacity: 40%;
  text-transform: uppercase;
  text-align: center;
  /* margin-top: 56px; */
  margin-bottom: 28px;
}

.coming_soon_grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 2%;
  margin: 0 var(--space-md);
}

.unreleased_app {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -- FOOTER ----------------------------------------------------------------------- */

footer {
  background-color: var(--dark-color);
  text-align: center;
}

/* footer .container {
  padding: 0 var(--space-2xl);
} */

footer .signature {
  margin: var(--space-lg) 0;
  text-align: left;
}

footer .social_media_icons {
  display: flex;
  gap: 12px;
  /* flex-direction: column; */
}

footer .social_media_icons img {
  width: 28px;
  height: 28px;
  opacity: 20%;
}

footer p {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 140%;
  color: var(--gray_color2);
}

/* Original Solution found on Stackoverflow here:
http://stackoverflow.com/questions/26573346/ios-safari-messes-up-input-type-date
*/

input[type="date"] {
  display: block;

  /* Solution 1 */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;

  /* Solution 2 */
  min-width: 96%;
}