@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --primary-color: #8c583a;
  --cta-color: black;
  --highlight-color: #f2ae72;
  --app-color: #2d42be;
  --dark-color: #0d0d0d;
  --gray-color: #f2e8e4;
  --gray_color1: #ababab;
  --gray_color2: #808080;

  --heading-font: 'Quicksand', sans-serif;
  --heading-font2: 'Abel', sans-serif;
  --body-font: 'Abel', sans-serif;
  --body-font2: 'Ubuntu', sans-serif;
  --body-font3: 'Dosis', sans-serif;

  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 74px;
  --space-3xl: 188px;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  color: #222;
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-color);
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

section {
  background-color: #0d0d0d;
  padding: var(--space-2xl) 0;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--gray-color);
  margin: var(--space-md) 0;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 400;
  text-align: center;
  color: var(--highlight-color);
  margin: var(--space-md) 0;
}

h3 {
  font-family: var(--heading-font2);
  font-size: 2rem;
  color: #ababab;
  text-align: center;
  margin-bottom: 36px;
}

p {
  font-family: var(--heading-font2);
  font-size: 1.5rem;
  color: var(--gray-color);
  text-align: center;
}

strong {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 var(--space-lg);
  text-align: center;
  margin: 0 auto;
}

.copy {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

/* -- TOP HEADER ------------------------------------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-md);
}

.logo {
  height: 44px;
  padding: 8px;
}

.top-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.top-header--white-background {
  background-color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.top-header--white-background path {
  fill: var(--primary-color);
  transition: fill 300ms ease-in-out;
}

.top-header .logo_container {
  display: flex;
  width: 88px;
  height: 44px;
}

.youapp {
  display: flex;
  font-family: var(--body-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/* -- HERO AREA -------------------------------------------------------------------- */

.hero-area {
  background-image: url('./images/hero2.jpg');
  color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 480pt;
  position: relative;
}

/* .hero-area .container { */
  /* position: absolute; */
  /* height: 100%; */
  /* bottom: 0; */
  /* width: 100%; */
/* } */

.hero-heading {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-top: 488px;
}

/* ----------------------------------- CTA ------------------------------------ */

.cta_button {
  /* display: inline; */
  background-color: var(--gray-color);
  color: var(--dark-color);
  width: 88px;
  /* height: 44px; */
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  /* vertical-align: middle; */
  border-radius: 29px;
  border: none;

  padding: 5px 20px;
}

/* -- ABOUT --------------------------------------------------------------------- */

.icons_container {
  width: 100%;
  position: relative;
}

.icons_grid {
  display: grid;
  grid-template-columns: 128px;
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 128px;
  height: 128px;
}

.vinyl img {
  width: 128px;
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* -- FEATURING -------------------------------------------------------------------- */

.featuring {
  padding: 0;
}

.featured_hero {
  background-image: url('./images/hero3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 480pt;
}

.featured_artist_title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  opacity: 40%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

.featuring .stack {
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}

.featuring .stack > * {
  grid-area: 1/1/1/1;
}

.featured_artist_background {
  background-color: black;
  border-radius: 28px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 8px;
}

.featuring .featured_artist_background .left_column {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url('./images/wallpapers/isitjosh2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.featuring .featured_artist_background .right_column {
  background-color: black;
}

.album_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: 14px;
  margin-bottom: 88px;
}

.featured_artist_content {
  padding: var(--space-2xl) var(--space-2xl);
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.album {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.album1 {
  background-image: url('images/wallpapers/albums/11DD7FF8-F220-43CE-813C-A62559FCC953 Large.jpeg');
}

.album2 {
  background-image: url('images/wallpapers/albums/10B0AEAD-E9A6-464F-9B69-29F1A155692C Large.jpeg');
}

.album3 {
  background-image: url('images/wallpapers/albums/46255AD9-10B9-4F5F-ADA0-1D37DD9F7240 Large.jpeg');
}

.album4 {
  background-image: url('images/wallpapers/albums/82DC6343-CA4F-415B-98E4-14C5C7137F44 Large.jpeg');
}

.album5 {
  background-image: url('images/wallpapers/albums/9B61C31F-71A1-4B33-B297-C00C9CE910D5 Large.jpeg');
}

.album6 {
  background-image: url('images/wallpapers/albums/F63D5ADE-4ED5-41D5-8533-66C5235096D4 Large.jpeg');
}

@media (min-width: 760px) {
  .featured_artist_background {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(1, 1fr);
  }

  .album_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 14px;
  }

  .album {
    width: 180px;
    height: 180px;
  }
}

.spacer {
  height: 100%;
  max-height: max-content;
}

.featured_row {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured_app {
  width: 100%;
  margin: var(--space-lg) 0;
  padding: auto;
}

.featured_app img {
  width: 100%;
  object-fit: cover;
}

.featured_app_name {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--gray-color);
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 24px;
}

.app_store_button {
  padding: var(--space-xl) 0;
  margin: 0 auto;
  width: 250px;
}

.featuring .copyright {
  font: 10pt/1.5 var(--heading-font);
  color: white;
  opacity: 50%;
  text-align: center;
  margin: var(--space-md) 0;
}

/* -- FOOTER ----------------------------------------------------------------------- */

footer {
  background-color: var(--dark-color);
  text-align: center;
}

footer .signature {
  margin: var(--space-lg) 0;
  text-align: left;
}

footer .social_media_icons {
  display: flex;
  gap: 12px;
  /* flex-direction: column; */
}

footer .social_media_icons img {
  width: 28px;
  height: 28px;
  opacity: 20%;
}

footer p {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 140%;
  color: var(--gray_color2);
}

/* Original Solution found on Stackoverflow here:
http://stackoverflow.com/questions/26573346/ios-safari-messes-up-input-type-date
*/

input[type='date'] {
  display: block;

  /* Solution 1 */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;

  /* Solution 2 */
  min-width: 96%;
}
